@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  backface-visibility: hidden;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

html,
body {
  @apply tracking-tight;

  ::selection {
    @apply bg-black text-white;
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

#prismic-toolbar-v2 {
  @apply hidden;
}

@layer utilities {
  .container {
    @apply mx-auto px-5 lg:px-10 max-w-none;
  }
  
  .image-pixelated {
    image-rendering: pixelated;
  }
}

.prose {
  color: currentColor !important;

  p {
    @apply first-of-type:mt-0 last-of-type:mb-0;
  }
}

// begin cookie control

.cookieControl {
  z-index: 30 !important;
}

.cookieControl .cookieControl {
  &__ControlButton {
    @apply left-5 right-auto text-sm;
  }

  &__Bar {
    @apply border-t-2 border-black;

    &--bottom-full {
      @apply inset-x-0 flex w-full justify-center bottom-0;
    }
  }

  &__BarContainer {
    @apply bg-white mx-auto py-4 px-5 lg:px-10;
  }

  &__ModalContent {
    overflow-y: auto !important;
  }
}

// end cookie control
